{% extends 'base.html' %}
 
{% block subtitle %} - By IP{% endblock %}
 
{% block localstyle %}
<style type='text/css'>
.entry td,th {
  padding: 5px;
  vertical-align: top;
}
.entry th {
  text-align: right;
}
.entry pre {
  margin: 0;
  font-family: inherit;
}
</style>
{% endblock %}
 
 
{% block content %}
<table class='entry'>
<tr><th>ip:</th><td>{{entry.created}}</td></tr>
</table>

{% if failed %}
  {% for fail in failed %}
    <a> <a class='details' href="/logins/{{ fail.id }}">{{ fail.ip }}</a>
    <br />
  {% endfor %}
{% else %}
  <p>No entries are available.</p>
{% endif %}

{% endblock %}

