{% extends 'base.html' %}
 
{% block subtitle %}- Details{% endblock %}
 
{% block localstyle %}
<style type='text/css'>
.entry td,th {
  padding: 5px;
  vertical-align: top;
}
.entry th {
  text-align: right;
}
.entry pre {
  margin: 0;
  font-family: inherit;
}
</style>
{% endblock %}
 
 
{% block content %}
<table border="1" class='entry'>
<tr><th>initiated:</th><td>{{fail.initiated}}</td></tr>
<tr><th>user:</th><td>{{fail.login}}</td></tr>
<tr><th>ip:</th><td>{{fail.ip}}</td></tr>
</table>
{% endblock %}