{% extends 'base.html' %}
 
{% block subtitle %} - All{% endblock %}
 
{% block localstyle %}
<style type='text/css'>
.entry td,th {
  padding: 5px;
  vertical-align: top;
}
.entry th {
  text-align: right;
}
.entry pre {
  margin: 0;
  font-family: inherit;
}
</style>
{% endblock %}

{% block content %}
<table border="1">
    <tr>
        <th>Initiated</th>
        <th>Login</th>
        <th>IP</th>
    </tr>
{% if failed %}
  {% for fail in failed %}
  	<tr>
    	<td>{{ fail.initiated }}</td>
    	<td>{{ fail.login }}</td>
    	<td>{{ fail.ip }}</td>
    </tr>
  {% endfor %}
</table>
{% else %}
  <p>No entries are available.</p>
{% endif %}
{% endblock %}